[submodule "Dependencies/Quick"]
	path = Dependencies/Quick
	url = git@github.com:Quick/Quick.git
[submodule "Dependencies/AttributedTextView"]
	path = Dependencies/AttributedTextView
	url = git@github.com:evermeer/AttributedTextView.git
[submodule "Dependencies/SwInject"]
	path = Dependencies/SwInject
	url = git@github.com:Swinject/Swinject.git
[submodule "Dependencies/SnapKit"]
	path = Dependencies/SnapKit
	url = git@github.com:SnapKit/SnapKit.git
